@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #9c9c9c;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  background-color: rgb(106, 158, 206);
  color: white;
  padding: 10px;
  align-self: stretch;
}

.logo {
  width: 35%;
}

.sign {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  text-align: right;
  justify-content: right;
  gap: 10px; 
}

a {
  color: inherit;
}

.nav-item {
  width: 20%;
  text-align: right;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}

.registration {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: larger;
}

.message {
  background-color: lightgrey;
  font-family: 'Courier New', Courier, monospace;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ping {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-------styling added by Ningyi----------*/

.search {
  margin-top: 350px;
  margin-right: 80px;
}

.searchInputs {
  margin: top;
  display: flex;
  border: 1px solid #CBD5E0;
  box-sizing: border-box;
  border-radius: 10px;
}

.search input {
  background: none;
  border: none;
  font-size: 24px;
  margin-top: 10px;
  padding: 15px;
  height: 30px;
  width: 854px;
}

.searchIcon {
  height: 60px;
  width: 50px;
  background-color: none;
  padding-right: 15px;
  color: #148FE8;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none
}

.searchIcon svg {
  font-size: 35px;
}

.dataResult {
  margin: top 5px;
  width: 854px;
  height: 200px;
  background-color: white;
  box-shadow: grey;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
  font-size: 24px;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}


