.searchInput {
  margin: top 105px;
  display: flex;
}

.search input {
  background-color: white;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}

.searchIcon {
  height: 60px;
  width: 50px;
  background-color: rgb(255, 255, 255);
  display: grid;
  place-items: center;
}

input:focus {
  outline: none
}

.searchIcon svg {
  font-size: 35px;
}

.dataResult {
  margin: top 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: grey;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}